body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, Georgia, 'Times New Roman', Times, serif;
    background-color: black;
}

.stopwatch {
    background: whitesmoke ;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    padding: 30px;
    text-align: center;
    width: 300px;
}

#display {
    font-size: 2em;
    margin-bottom: 20px;
    color: black;
}

.controls {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 20px;
}

.controls button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.4s;
}

#start {
    background-color: indianred;
    color: #fff;
}

#start:hover {
    background-color: aqua;
}

#pause {
    background-color: greenyellow;
    color: #fff;
    display: none;
}

#pause:hover {
    background-color: aqua;
}

#reset {
    background-color: chocolate;
    color: #fff;
}

#reset:hover {
    background-color: aqua;
}

#lap {
    background-color: green;
    color: white;
}

#lap:hover {
    background-color: aqua;
}

#laps {
    margin-top: 20px;
    padding: 0;
    list-style: none;
    max-height: 150px;
    overflow-y: auto;
}

#laps li {
    padding: 5px 0;
    border-bottom: 1px solid white;
}

#laps li:last-child {
    border-bottom: none;
}